.authorsListWrapper {
  width: 60%;
  margin: 20px auto;
}

.authorsListTitle {
  text-align: center;
}

.authorsList {
  min-height: 50px;
}

.authorsListInvalid {
  border: solid 2px var(--red);
}

.authorsListItem {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
